<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">Angular</li>
        <li class="list-group-item">HTML CSS Javascript</li>
        <li class="list-group-item">C# .Net</li>
        <li class="list-group-item">PHP Laravel</li>
        <li class="list-group-item">Python Django</li>
      </ul>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
